.gray1{
  height: 50px;
}
.gray2{
  height: 50px;
}
.gray3{
  height: 50px;
}
.gray4{
  height: 50px;
}
.gray5{
  height: 50px;
}
.gray6{
  height: 5050px;
}
.gray1{
  height: 200px;
}
#lol{
  height: 200px;
  width: 300px;
}
