h1{
  font-family: "arial";
  text-align: center;
}
p{
  font-family: 'DashleyRegular'; 
  font-weight: normal;
  font-style: normal;
  /* font-style: italic;
  font-weight:bold; */
}
body{
  font-size: 20px;
  /* default 16px */
}
#two{
  font-size: 1.0em;
}
/* 1em = 16px
2em = 32px */
