<!DOCTYPE html>
{% extends 'basic_app/base.html' %}
{% load staticfiles %}
{%block body_block%}

  <div class="jumbotron">
    {% if registered %}
      <h1>Thank You For Registering</h1>
      {% else %}
        <h1>Register Here!!!</h1>
        <hr>
        <h3>Fill Out The Form Below</h3>
        <form enctype="multipart/form-data" method="POST">
          {% csrf_token %}
          <!-- #the userForm created in forms.py file where we asked for the username the email and password -->
          {{ user_form.as_p }}
          {{ profile_form.as_p }}

          <input type="submit" name="" value="Register">
        </form>






    {% endif %}
  </div>

{% endblock %}
